@import "../../../../../../../vendor/mopa/bootstrap-bundle/Mopa/Bundle/BootstrapBundle/Resources/public/less/mopabootstrapbundle-fa4";
@fa-font-path:  "/bundles/mopabootstrap/fonts/fa4";

h1, h2, h3, h4, h5, h6 {
    border-bottom: 1px solid #ddd;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.nav.nav-tabs {
    margin-bottom: 20px;
}

.form-group {
    &.required {
        .control-label {
            &:after {
                content: "*";
                &:extend(.text-danger);
                margin-left: .3em;
            }
        }
    }

    .table {
        margin-bottom: 0;
    }
}

.input-block-list > * {
    &:not(:first-child) {
        margin-top: 5px;
    }
}

.progress {
    margin-bottom: 0;
    .progress-bar {
        margin-bottom: 0;
    }
}

#choice-prototype,
#voter-prototype {
    display: none;
}

#spinner-modal {
    .modal-dialog {
        .modal-content {
            border: none;
            box-shadow: none;
            background: none;
            .modal-body {
                padding-top: 40%;
                color: #fff;
                font-size: 8em;
            }
        }
    }
}

footer {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    margin-top: 50px;
    text-align: center;
}
