{% extends 'VoteeAppBundle::layout.html.twig' %}

{% block content %}

    <div class="col-lg-offset-2 col-lg-8">
        <h3><i class="fa fa-file-text-o"></i> 投票ボードを作成する</h3>
        {% include 'VoteeAppBundle:Board:widget-form.html.twig' %}
    </div>

    {% include 'VoteeAppBundle::spinner-modal.html.twig' %}

{% endblock %}

{% block head_style %}
    {% stylesheets filter='less,cssrewrite'
    '@VoteeAppBundle/Resources/public/less/Board/widget-form.less'
    %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts
    '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap/dist/js/bootstrap.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-collection.js'
    '@MopaBootstrapBundle/Resources/public/js/mopabootstrap-subnav.js'
    'https://raw.githubusercontent.com/marioizquierdo/jquery.serializeJSON/master/jquery.serializejson.min.js'
    '@VoteeAppBundle/Resources/public/js/Board/new.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { 'callback': 'fos.Router.setData' }) }}"></script>
    {% endjavascripts %}
{% endblock %}
